<h1> <%=title%> <h1>

<form action='/adduser' method='post'>
    FirstName <input type='text' name="firstName">
    LastName <input type='text' name="lastName">
<input type='submit' value='Sign up'> Sign up </input>
</form>
